name: CI Helper

on:
  workflow_call:
    inputs:
      os-name:
        description: "The OS to run the workflow on."
        required: true
        type: string
    secrets:
      REPO_AUTH_TOKEN:
        description: "The GitHub repo auth token."
        required: true
      CANTCACHE_ME_SECRET_KEY:
        description: "The signing key for cantcache.me."
        required: true
      R2_ENDPOINT:
        description: "The R2 endpoint to use."
        required: true
      R2_ACCESS_KEY_ID:
        description: "The R2 access key ID to use."
        required: true
      R2_SECRET_ACCESS_KEY:
        description: "The R2 secret access key to use."
        required: true

defaults:
  run:
    shell: bash

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}

jobs:
  develop:
    runs-on: ${{ inputs.os-name }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up nix
        uses: ./.github/actions/setup
        with:
          REPO_AUTH_TOKEN: ${{ secrets.REPO_AUTH_TOKEN }}
          CANTCACHE_ME_SECRET_KEY: ${{ secrets.CANTCACHE_ME_SECRET_KEY }}
      - name: Set repeat commands as environment variables
        run: |
          echo "NIX_DEV_CMD=nix develop \
          --print-build-logs \
          --accept-flake-config \
          --profile dev-profile" >> $GITHUB_ENV

          echo "NIX_CACHE_CMD=nix --accept-flake-config --verbose copy \
          --to s3://cantcache-me?compression=zstd&endpoint=${{ secrets.R2_ENDPOINT }}" >> $GITHUB_ENV
      - name: Build development environment
        run: $NIX_DEV_CMD
      - name: Cache development environment outputs
        run: $NIX_CACHE_CMD

  build:
    needs: develop
    runs-on: ${{ inputs.os-name }}
    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: Set up nix
        uses: ./.github/actions/setup
        with:
          REPO_AUTH_TOKEN: ${{ secrets.REPO_AUTH_TOKEN }}
          CANTCACHE_ME_SECRET_KEY: ${{ secrets.CANTCACHE_ME_SECRET_KEY }}
      - name: Set repeat commands as environment variables
        run: |
          echo "NIX_BUILD_CMD=nix build \
          --print-build-logs \
          --accept-flake-config" >> $GITHUB_ENV

          echo "NIX_CACHE_CMD=nix --accept-flake-config --verbose copy \
          --to s3://cantcache-me?compression=zstd&endpoint=${{ secrets.R2_ENDPOINT }}" >> $GITHUB_ENV

      # Build
      - name: Build outputs
        run: $NIX_BUILD_CMD .#{leanInk,alectryon,lean-mdbook,generated-lean-markdown}
      - name: Cache outputs
        run: $NIX_CACHE_CMD .#{leanInk,alectryon,lean-mdbook,generated-lean-markdown}
      - name: Build docs
        run: $NIX_BUILD_CMD .#docs
      - name: Cache docs
        run: $NIX_CACHE_CMD .#docs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.