name: CI (Nightlies)

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *" # The star is special in YAML and must be quoted.

jobs:
  macos-11:
    name: macos-11
    uses: ./.github/workflows/ci-helper.yml
    with:
      os-name: macos-11
      nightly: true
    secrets: inherit

  macos-12:
    name: macos-12
    uses: ./.github/workflows/ci-helper.yml
    with:
      os-name: macos-12
      nightly: true
    secrets: inherit

  ubuntu-20_04:
    name: ubuntu-20.04
    uses: ./.github/workflows/ci-helper.yml
    with:
      os-name: ubuntu-20.04
      nightly: true
    secrets: inherit

  ubuntu-22_04:
    name: ubuntu-22.04
    uses: ./.github/workflows/ci-helper.yml
    with:
      os-name: ubuntu-22.04
      nightly: true
    secrets: inherit
