name: Deploy Docs

permissions:
  contents: read
  pages: write
  id-token: write

on:
  workflow_call:
    inputs:
      os-name:
        description: "The OS to run the workflow on."
        required: true
        type: string

jobs:
  deploy-docs:
    runs-on: ${{ inputs.os-name }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: gh-pages-${{ github.sha }}-${{ inputs.os-name }}
      - name: List directory
        run: ls -laR
      - name: Extract artifact
        run: tar --extract gh-pages-${{ github.sha }}-${{ inputs.os-name }}.tar.zst
      - name: List directory
        run: ls -laR
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: gh-pages-${{ github.sha }}-${{ inputs.os-name }}
